<div class="container_menu">
    <div class="logo"
        [ngStyle]="{'justify-content': isExpandMenu ? '':'center','background-color': isExpandMenu ? '':'unset'}">
        <div class="rsu_text" [hidden]="!isExpandMenu">
            <picture>
                <source type="image/webp" srcset="assets/images/logo.webp">
                <source srcset="assets/images/logo.png" type="image/png" alt="">
                <img src="assets/images/logo.png" alt="">
            </picture>

        </div>
        <button mat-icon-button (click)="toggleMenu()" style="color: #267539;">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
                menu</mat-icon>
        </button>
    </div>
    <div class="information" *ngIf="isExpandMenu">
        <span class="username_text">UserName Admin</span>
        <span class="email_text">mail@gmail.com</span>
        <picture class="user_img rsu_border_image">
            <source style="width: 127px;height: 127px;" src="assets/images/user.webp" type="image/webp">
            <source style="width: 127px;height: 127px;" src="assets/images/user.png" type="image/png">
            <img src="assets/images/user.png" alt="" style="width: 127px;height: 127px;">
        </picture>

    </div>
    <div class="menu_bg" *ngIf="isExpandMenu">
        <span style="color: #ffffff;">MENU</span>
    </div>
    <div class="information" *ngIf="!isExpandMenu">


    </div>


    <mat-accordion *ngIf="isExpandMenu">
        <div style="display: flex;flex-flow: column;background-color: #F5F5F5;cursor: pointer;">
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu" [routerLink]="['/app/propose-requirements']">
                <div class="iconMenuName" style="display: flex;justify-content: center;">
                    <img src="assets/images/document.png" alt="" style="width:100px">
                </div>
            </mat-panel-title>
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu">
                <div class="iconMenuName" style="display: flex;justify-content: center;cursor: pointer;">
                    <label style="margin-top: 3px;cursor: pointer;" [routerLink]="['/app/propose-requirements']">
                        เสนอความต้องการประจำปี
                    </label>
                </div>
            </mat-panel-title>
        </div>
<br>
        <div style="display: flex;flex-flow: column;background-color: #F5F5F5;cursor: pointer;">
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu" [routerLink]="['/app/teachers-equipment']">
                <div class="iconMenuName" style="display: flex;justify-content: center;">
                    <img src="assets/images/package-dolly.png" alt="" style="width:100px">
                </div>
            </mat-panel-title>
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu">
                <div class="iconMenuName" style="display: flex;justify-content: center;">
                    <label style="margin-top: 3px;cursor: pointer;" [routerLink]="['/app/teachers-equipment']">
                        ทรัพย์สินและครุภัณฑ์
                    </label>
                </div>
            </mat-panel-title>
        </div>
<br>
        <div style="display: flex;flex-flow: column;background-color: #F5F5F5;cursor: pointer;">
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu">
                <div class="iconMenuName" style="display: flex;justify-content: center;">
                    <img src="assets/images/pencil-box.png" alt="" style="width:100px">
                </div>
            </mat-panel-title>
            <mat-panel-title style="padding:0 24px" *ngIf="isExpandMenu">
                <div class="iconMenuName" style="display: flex;justify-content: center;cursor: pointer;">
                    <label style="margin-top: 3px;cursor: pointer;">
                        วัสดุคงคลัง
                    </label>
                </div>
            </mat-panel-title>
        </div>
<br>
     

    </mat-accordion>


    <!-- <br> -->
    <!-- <br> -->

</div>

