
*:focus {
    outline: 0;
  }
  
  
  a.active {
    text-decoration: underline;
  }
  
  
  .username_text {
    color: #267539;
    font-size: 1.2rem;
    line-height: 20px;
  }
  
  .email_text {
    color: #267539;
    font-size: 1.1rem;
  }
  
  .rsu_text {
    color: #267539;
    font-size: 3.5rem;
  }
  .iconSize{
    font-size: 18px; 
    padding-right: 5px;
  }
  .user_img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    bottom: -70px;
  }
  
  .menuFalse {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    align-items: center;
    flex-flow: column;
    color: white;
    position: relative;
    cursor: pointer;
  }
  .iconMenuName {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .menuFalse:hover {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    align-items: center;
    flex-flow: column;
    position: relative;
    color: white;
    cursor: pointer;
    background-color: #2b2e36;;
  }
  .mat-expanded {
     background-color: unset
}
  
  
  