<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อหน่วยงาน</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                            {{data.test}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>ปีงบประมาณ</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                            {{data.test}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>ปีพุทธศักราช</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                            {{data.test}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <div class="row flex_row_end">
            <div class="col-md-4 flex_row_end">
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="flex_row_end">
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['2','3','4','5','6','action',]"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['2','3','4','5','6','action', ]"></tr>

            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                <td mat-cell *matCellDef="let data">
                    1
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีงบประมาณ </th>
                <td mat-cell *matCellDef="let data">
                    2564
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีพุทธศักราช </th>
                <td mat-cell *matCellDef="let data">
                    2564
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    หน่วยงานที่ 1
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> งบประมาณที่ได้รับ </th>
                <td mat-cell *matCellDef="let data">
                    10,000,000.00
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">

                    <app-icon-edit></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>