<button mat-raised-button style="background-color: #6c757d;margin-top: 0.25em;">
    <!-- <span class="material-icons" style="color: white;font-size: 14px;">
        refresh
    </span> -->
    <span style="color: white;"> คืนค่าตั้งต้น</span>
</button>