<div style="display: flex;min-height: 100vh;">
    <div>   
        <div class="container_menu" [ngClass]="isExpandMenu ? '' : 'expandMenu'">
            <app-menu *ngIf="user != 'user2'" (onToggleMenu)="isExpandMenu = $event"></app-menu>
            <app-menu-user2 *ngIf="user == 'user2'" (onToggleMenu)="isExpandMenu = $event"></app-menu-user2>
        </div>        
    </div>    
    <div style="width: 100%;">
        <app-toolbar-layout></app-toolbar-layout>
        <div class="container_content">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>
