<button mat-raised-button  style="margin-top: 0.25em;background-color: #C41C1C;">
    <!-- <span class="material-icons" style="color: white;font-size: 14px;">
        add
    </span> -->
    <span style="color: white;">ไม่อนุมัติ</span>
</button>