<button mat-raised-button  style="margin-top: 0.25em;background-color: #42B2F1;">
    <!-- <span class="material-icons" style="color: white;font-size: 14px;">
        add
    </span> -->
    <span style="color: white;">อนุมัติ</span>
</button>