<main>
   <div class="flex_row" style="width: 100%;height: 20%;"></div>
   <div class="flex_row" style="width: 100%;height: 60%;">
      <div class="flex_row" style="width: 50%;align-items: center;padding: 20px;border-right: 1.5px solid #267539;">

         <table>
            <tr>
               <td style="text-align: right;"><img style="width: 70px;"    src="/assets/images/image.jpg" alt="Citymap illustration" /></td>
               <td style="padding: 0px;"><label style="color: #6D8796;font-size: 30px;">สถาบันพยาธิวิทยา</label><br>
                  <label style="color: #6D8796">ศูนย์อำนวยการแพทย์พระมงกุฏเกล้า</label>
               </td>
            </tr>
         
         </table>


         
         
         
      </div>
      <div class="flex_row" style="width: 50%;align-items: center;padding: 20px;">
         <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>UserName</mat-label>
            <input [(ngModel)]="user" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input type="password" [(ngModel)]="password" matInput />
        </mat-form-field>
        <mat-checkbox class="example-margin">Remember My Login</mat-checkbox>
        <div class="flex_row" style="width: 100%">
            <button mat-raised-button style="width: 100%;" (click)="login()">LOGIN</button>
      </div>
      </div>
   </div>
   <div class="flex_row" style="width: 100%;height: 20%;"></div>
  
</main>