main {
   margin: 30px auto auto;
   overflow: hidden;
   position: relative;
   width: 90%;
 }
 
 @media (min-width: 768px) {
   main {
     height: 31.25rem;
     left: 50%;
     margin: auto;
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     width: 52.5rem;
   }
 }
 main {
   // background: #f9f6ed;
   border-radius: 0.25rem;
   box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
 }
 