<h1 mat-dialog-title > รายการสินค้า/บริการ</h1>
<div mat-dialog-content rtl >


    <!-- <mat-card class="mat-elevation-z4">
        <mat-card-content> -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ประเภทรายการขอใข้</mat-label>
                        <mat-select (valueChange)="change($event)">
                            <mat-option *ngFor="let data of procurementGroupData" [value]="data.id">
                                {{data.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อวัสดุ/บริการ</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of itemData" [value]="data.id">
                                {{data.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวน <span style="color: red">*</span></mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field appearance="outline">
                        <mat-label>ใช้ในงาน </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ราคาประมาณการ/หน่วย <span style="color: red">*</span></mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนเงิน </mat-label>
                        <input matInput disabled>
                    </mat-form-field>
                </div>
            </div>
          
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>รายละเอียด</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        <!-- </mat-card-content> -->
        <br>
        <div class="flex_row_end">
            <app-button-save ></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="closeDialog()"></app-button-close>
        </div>
    <!-- </mat-card> -->

</div>