<form [formGroup]="form">
    <mat-label>บันทึกการเบิกครุภัณฑ์</mat-label>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <mat-label>หน่วยงานผู้ขอใช้</mat-label>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อหน่วยงาน </mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>พนักงานผู้ขอเบิก </mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
    <br>

    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <mat-label>ข้อมูลการเบิกจ่ายครุภัณฑ์</mat-label>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขหนังสือเบิกจ่าย    <span style="color: red">*</span></mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <app-button-gen></app-button-gen>
                </div>
                <div class="col-md-1">
                    <mat-checkbox class="example-margin">ส่วนกลาง</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่ขอเบิกจ่าย <span style="color: red">*</span></mat-label>
                        <input matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                            (click)="date1.open()" [matDatepicker]="date1" />
                        <mat-datepicker-toggle matSuffix [for]="date1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่คุมเบิกจ่าย</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>เรียน </mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row flex_row_end">
                <div class="col-md-4 flex_row_end">
                    <button mat-raised-button  style="margin-top: 0.25em;background-color: #419E58;width:  auto;">
                        <span style="color: white;">ดึงรายการจากใบสั่งซื้อ</span>
                    </button>
                </div>
            </div>
            <br>
                    <div style="background: #F6FAF7;">
                        <!-- <div class="row flex_row_end" style="margin-bottom:5px;">
                        <div class="col-md-3 flex_row_end">
                           <app-button-add (click)="openPopUp()"></app-button-add>
                        </div>
                    </div> -->
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="tableForm">
                                    <thead>
                                        <tr>
                                            <th class="thForm">ลำดับ</th>
                                            <th class="thForm">รหัสหมวดครุภัณฑ์</th>
                                            <th class="thForm">ชื่อหมวดครุภัณฑ์</th>
                                            <th class="thForm">หน่วย</th>
                                            <th class="thForm">ราคา/หน่วย</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container>
                                            <tr *ngFor="let item of itemArray;let itemsIndex = index">
                                                <td class="tdForm">{{itemsIndex+1}}</td>
                                                <td class="tdForm"></td>
                                                <td class="tdForm"></td>
                                                <td class="tdForm"></td>
                                                <td class="tdForm"></td>
                                            </tr>
                                        </ng-container>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>