@import '~@angular/material/theming';


$rsu-dorm-blue-map: (
    50 : #e6f4fa,
    100 : #c0e4f2,
    200 : #96d2e9,
    300 : #6cc0e0,
    400 : #4db3d9,
    500 : #2da5d2,
    600 : #289dcd,
    700 : #2293c7,
    800 : #1c8ac1,
    900 : #1179b6,
    A100 : #e5f4ff,
    A200 : #b2e0ff,
    A400 : #7fccff,
    A700 : #65c1ff,
    0:#ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$rsu-dorm-dark-map: (
    50 : #e4e4e5,
    100 : #bcbcbf,
    200 : #8f9094,
    300 : #E8EAE8,
    400 : #267539,
    500 : #E8EAE8,
    600 : #1b1d24,
    700 : #17181e,
    800 : #121418,
    900 : #0a0b0f,
    A100 : #548dff,
    A200 : #216bff,
    A400 : #004fed,
    A700 : #E8EAE8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$rsu-dorm-red-map: (
    50 : #fbebf0,
    100 : #f5cedb,
    200 : #efadc3,
    300 : #e88caa,
    400 : #e37398,
    500 : #de5a86,
    600 : #da527e,
    700 : #d54873,
    800 : #d13f69,
    900 : #c82e56,
    A100 : #267539,
    A200 : #ffd8e1,
    A400 : #ffa5bb,
    A700 : #ff8ba7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$dark-theme-primary: mat-palette($rsu-dorm-blue-map, 500);
$dark-theme-accent: mat-palette($rsu-dorm-dark-map, 500);
$dark-theme-warn: mat-palette($rsu-dorm-red-map);
$dark-theme: mat-light-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);





