<p>
    <mat-toolbar>
      <span>
        <table>
            <tr>
               <td style="text-align: right;display: flex;"><img style="width: 50px;"    src="/assets/images/image.jpg" alt="Citymap illustration" /></td>
               <td style="padding: 0px;"><label style="color: #6D8796;font-weight: bold;">สถาบันพยาธิวิทยา</label><label style="color: #6D8796">ศูนย์อำนวยการแพทย์พระมงกุฏเกล้า</label>
               </td>
            </tr>
         
         </table>
      </span>
    </mat-toolbar>
  </p>

  <mat-card class="mat-elevation-z4" style="padding: 0px 0px 16px 0px;border-radius: 0px;margin: 40px;background: #EFEFEF;height: 50%;">
    <mat-card-content>
        <mat-list style="background: #267539;">
            <mat-list-item style="color: #FFFFFF;">ระบบที่เกี่ยวข้องกับหน่วยงานของคุณ</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div class="flex_row" style="margin: 20px;">
            <div class="flex_col_center menuWidth">
                <button mat-raised-button color="primary" (click)="onClickMenu()" style="width: 100px; height: 100px;margin: 20px;border: 4px solid #267539;background-color: #FFFFFF;padding: 0px;">
                    <!-- <span class="material-icons iconStyle">
                        people_alt
                    </span> -->
                    <img src="assets/images/banking.png" alt="" style="width: 70px;height: 70px;">
                </button>
                <a class="text-menu"> ระบบกำลังส่งปรับปรุง</a>
            </div>
        </div>
</mat-card-content>
</mat-card>