<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>เลขที่หนังสือสั่งซื้อ</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อเรื่องเสนอความต้องการประจำปี </mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หน่วยงาน </mat-label>
                    <mat-select>
                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                            {{data.test}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่เริ่มต้น</mat-label>
                    <input matInput matInput (click)="endDate.open()" [matDatepicker]="endDate" />
                    <mat-datepicker-toggle matSuffix [for]="endDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่สิ้นสุด </mat-label>
                    <input matInput matInput (click)="startDate.open()" [matDatepicker]="startDate" />
                    <mat-datepicker-toggle matSuffix [for]="startDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
            </div>

        </div>
        <div class="row flex_row_end">
            <div class="col-md-4 flex_row_end">
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>

        <mat-tab-group>
            <mat-tab label="รายการครุภัณฑ์">
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['1','2','3','4','5','6','action',]"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['1','2','3','4','5','6','action', ]"></tr>

                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                                <td mat-cell *matCellDef="let data">
                                    1
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่หนังสือสั่งซื้อ </th>
                                <td mat-cell *matCellDef="let data">
                                    PR1-64001
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อเรื่องเสนอความต้องการประจำปี
                                </th>
                                <td mat-cell *matCellDef="let data">
                                    ซื้อครุภัณฑ์
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                                <td mat-cell *matCellDef="let data">
                                    การเงิน
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่รับ</th>
                                <td mat-cell *matCellDef="let data">
                                    08-01-2564
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                                <td mat-cell *matCellDef="let data">
                                    อนุมัติ
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data">
                                    <button mat-raised-button (click)="addPage()" style="background-color:  #E2824B;width: 20px;">
                                        <span style="color: white;font-size: 12px;">เลือก</span>
                                    </button>
                                </td>
                            </ng-container>
                        </table>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="ประวัติการเบิกครุภัณฑ์">
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['1','2','3','4','5','6','action',]"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['1','2','3','4','5','6','action', ]"></tr>

                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                                <td mat-cell *matCellDef="let data">
                                    1
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่หนังสือสั่งซื้อ </th>
                                <td mat-cell *matCellDef="let data">
                                    PR1-64001
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อเรื่องเสนอความต้องการประจำปี
                                </th>
                                <td mat-cell *matCellDef="let data">
                                    ซื้อครุภัณฑ์
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                                <td mat-cell *matCellDef="let data">
                                    การเงิน
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่รับ</th>
                                <td mat-cell *matCellDef="let data">
                                    08-01-2564
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                                <td mat-cell *matCellDef="let data">
                                    อนุมัติ
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data">
                                    <button mat-icon-button style="color: #419E58;margin-bottom: 10px;" aria-label="Example icon button with a home icon">
                                        <span class="material-icons" style="font-size: 20px;">
                                            visibility
                                        </span>
                                    </button>
                                </td>
                            </ng-container>
                        </table>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>



    </mat-card-content>
</mat-card>