<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่งบประมาณ <span style="color: red">*</span></mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <app-button-gen></app-button-gen>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่ <span style="color: red">*</span></mat-label>
                        <input matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                            (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
                        <mat-datepicker-toggle matSuffix [for]="transaction_date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #transaction_date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ปีงบประมาณ</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ปีพุทธศักราช</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อหน่วยงาน</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>งบประมาณที่ได้รับ</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>สถานะ</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'ใช้งาน'},{test:'ไม่ใช้งาน'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>หมายเหตุ</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>