<div class="container_menu">
    <div class="logo"
        [ngStyle]="{'justify-content': isExpandMenu ? '':'center','background-color': isExpandMenu ? '':'unset'}">
        <div class="rsu_text" [hidden]="!isExpandMenu">
            <picture>
                <source type="image/webp" srcset="assets/images/logo.webp">
                <source srcset="assets/images/logo.png" type="image/png" alt="">
                <img src="assets/images/logo.png" alt="">
            </picture>

        </div>
        <button mat-icon-button (click)="toggleMenu()" style="color: #267539;">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
                menu</mat-icon>
        </button>
    </div>
    <div class="information" *ngIf="isExpandMenu">
        <span class="username_text">UserName Admin</span>
        <span class="email_text">mail@gmail.com</span>
        <picture class="user_img rsu_border_image">
            <source style="width: 127px;height: 127px;" src="assets/images/user.webp" type="image/webp">
            <source style="width: 127px;height: 127px;" src="assets/images/user.png" type="image/png">
            <img src="assets/images/user.png" alt="" style="width: 127px;height: 127px;">
        </picture>

    </div>
    <div class="menu_bg" *ngIf="isExpandMenu">
        <span style="color: #ffffff;">MENU</span>
    </div>
    <div class="information" *ngIf="!isExpandMenu">


    </div>

<ng-container *ngIf="user == 'user1'">
    <mat-accordion *ngIf="isExpandMenu" >
        <mat-expansion-panel style="margin-bottom: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <label style="margin-top: 6px;">
                            หน่วยงานงบประมาณ (ฝคง.)
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" [routerLink]="['/app/setup-agency-budget']">
                            <li>ตั้งงบประมาณหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" [routerLink]="['/app/approve-money']">
                            <li>อนุมัติขอใช้เงิน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>ผูกพันงบประมาณ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>ตัดเบิกจ่าย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>การตั้งค่า</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>ข้อมูลหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>ปีงบประมาณ</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                รายงาน
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>-</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>

    <!-- <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel style="margin-bottom: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <label style="margin-top: 3px;">
                            หน่วยงานผู้ใช้
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>รายการลงบัญชีแล้ว</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>บันทึกยอดเบิกจ่าย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'">
                            <li>เรียกดูยอดสรุป</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion> -->
    <ng-container *ngIf="user == 'user3'"> 
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel style="margin-bottom: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <label style="margin-top: 3px;">
                            หน่วยงานส่งกำลังบำรุง
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" [routerLink]="['/app/request']">
                            <li>รายการขอใช้</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" [routerLink]="['/app/approve-plan']">
                            <li>ขออนุมัติขึ้นแผน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>ตั้งเรื่องขอใช้</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li>แต่งตั้งคณะกรรมการตรวจรับ</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>
<ng-container *ngIf="user == 'user4'"> 
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel style="margin-bottom: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <label style="margin-top: 3px;">
                            พลาธิการ
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" [routerLink]="['/app/purchase-request']">
                            <li (click)="windowsSlid()">ขออนุมัติซื้อจ้าง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li (click)="windowsSlid()">ออกใบสั่งซื้อสั่งจ้าง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" >
                            <li (click)="windowsSlid()">บันทึกการตรวจรับ</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    </ng-container>

  
    <!-- <br> -->
    <!-- <br> -->

</div>