<h1 mat-dialog-title > เลือกรายการตามงบประมาณ</h1>
<div mat-dialog-content rtl >


    <!-- <mat-card class="mat-elevation-z4">
        <mat-card-content> -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ปีงบประมาณ</mat-label>
                        <mat-select >
                            <mat-option *ngFor="let data of [{test:'2560'},{test:'2561'},{test:'2562'}]" [value]="data.id">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อเรื่องที่ขอ</mat-label>
                        <mat-select >
                            <mat-option *ngFor="let data of [{name:'สั่งซื้ออุปกรณ์'},{name:'สั่งซื้อชุดทดลอง'}]" [value]="data.id">
                                {{data.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
               
            </div>
          
        <!-- </mat-card-content> -->
        <br>
        <div class="flex_row_end">
            <app-button-save ></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="closeDialog()"></app-button-close>
        </div>
    <!-- </mat-card> -->

</div>