<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>เลขที่ขอซื้อ/ขอจ้าง</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อเรื่องขอซื้อ/ขอจ้าง <span style="color: red">*</span></mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ <span style="color: red">*</span></mat-label>
                    <input matInput  matInput
                        (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
                    <mat-datepicker-toggle matSuffix [for]="transaction_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
            </div>

        </div>
        <div class="row flex_row_end">
            <div class="col-md-4 flex_row_end">
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <!-- <div class="flex_row_end">
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->
        <!-- <br /> -->
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['2','3','4','5','6','action',]"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['2','3','4','5','6','action', ]"></tr>

            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่ขอซื้อ/ขอจ้าง </th>
                <td mat-cell *matCellDef="let data">
                    PR1-64001
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อเรื่องขอซื้อ/ขอจ้าง </th>
                <td mat-cell *matCellDef="let data">
                    ซื้อครุภัณฑ์
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    การเงิน
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เอกสาร </th>
                <td mat-cell *matCellDef="let data">
                    08-01-2564
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                <td mat-cell *matCellDef="let data">
                    อนุมัติ
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">

                    <app-icon-edit (click)="addPage()"></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>