<button mat-raised-button color="primary"  style="margin-top: 0.25em;margin-right: 20px;background-color: #419E58;">
    <!-- <span class="material-icons" style="color: white;font-size: 14px;">
        search
    </span> -->
    <span style="color: white;"> ค้นหา</span>
</button>