<mat-toolbar style="background-color: #E8EAE8" class="mat-elevation-z2">
    <span style="font-size: 1rem;">ProjectName</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>person_add_alt_1</mat-icon>
    </button>
    <mat-menu #appMenu>
        <ng-template matMenuContent>
            <div style="width: 200px;">
                <button mat-menu-item (click)="toogleTheme()">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            format_list_bulleted
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>งานของคุณ</span>
                    </div>
                </button>
                <button mat-menu-item (click)="toogleTheme()">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            brush
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>ธีมสี</span>
                    </div>
                </button>
                <button mat-menu-item class="flex_row">
                    <div class="iconMenuName" (click)="$event.stopPropagation()">
                        <div class="flex_row_between" style="width: 100%;">
                            <span class="material-icons">
                                format_size
                            </span>
                            <button class="btn_action" (click)="IncreaseFontSize($event)">+</button>
                            <span> {{ defaultFontSize }} </span>
                            <button class="btn_action" (click)="DecreaseFontSize($event)">-</button>
                        </div>
                    </div>
                </button>
                <button mat-menu-item (click)="logout()" style="border-top: 1px solid rgba(0, 0, 0, 0.87);">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            power_settings_new
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>ออกจากระบบ</span>
                    </div>
                </button>
            </div>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<mat-toolbar *ngIf="Router.url == '/app/teachers-equipment' || Router.url == '/app/teachers-equipment/list'|| Router.url == '/app/teachers-equipment/add'" style="background-color: #405745" class="mat-elevation-z2">
  
    <div class="flex_col_center menuToolbar" (click)="activeToolBar = 1;" [routerLink]="['/app/teachers-equipment/list']" [ngStyle]="{'background-color':activeToolBar == 1 ? '#D06C33' : '#69786C' }">
        <span class="material-icons iconStyle" style="font-size: 20px;cursor: pointer;" (click)="activeToolBar = 1">
            post_add
        </span>
        <a style="font-size: 12px;height: 20px;cursor: pointer;" (click)="activeToolBar = 1"> ขอเบิกครุภัณฑ์</a>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="flex_col_center menuToolbar" (click)="activeToolBar = 2" [ngStyle]="{'background-color':activeToolBar == 2 ? '#D06C33' : '#69786C' }">
        <span class="material-icons iconStyle" style="font-size: 20px;cursor: pointer;" (click)="activeToolBar = 2">
            people_alt
        </span>
        <a style="font-size: 12px;height: 20px;cursor: pointer;" (click)="activeToolBar = 2"> การโอนครุภัณฑ์</a>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="flex_col_center menuToolbar" (click)="activeToolBar = 3" [ngStyle]="{'background-color':activeToolBar == 3 ? '#D06C33' : '#69786C' }">
        <span class="material-icons iconStyle" style="font-size: 20px;cursor: pointer;" (click)="activeToolBar = 3">
            people_alt
        </span>
        <a style="font-size: 12px;height: 20px;cursor: pointer;" (click)="activeToolBar = 3"> การยืมครุภัณฑ์</a>
    </div>&nbsp;&nbsp;&nbsp;
</mat-toolbar>