.iconMenuName {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 20px;
  }
  button{
    width: auto;
  }

  .menuToolbar{
    background: #69786C;
    padding: 6px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .menuToolbar:hover{
    background: #F3E9DB  !important;
    padding: 6px;
    color: #D06C33!important;
    cursor: pointer;
  }
  