/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '../src/app/core/scss/_mixing';
@import 'src/themes/dark-theme.scss';
@import 'src/themes/pink-theme.scss';
@import '../src/assets/css/grid12.css';
@include mat-core();

@include angular-material-theme($dark-theme);
@include custom-theme($dark-theme);



.default-theme {
    @include angular-material-theme($pink-theme);
    @include custom-theme($pink-theme);
}

.dark-theme {
    @include angular-material-theme($dark-theme);
    @include custom-theme($dark-theme);    
}

html, body { height: 100%; }
body { margin: 0 }

h1 {
    color: #000000ad;
}
button{
    width: 140px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;    
    appearance: none;
    margin: 0;    
}



mat-form-field mat-label{
    font-size: 14px !important;
    color:#919191;
}


// custome normal input
.mat-form-field-appearance-outline .mat-form-field-infix {
    border-top: none;
    padding: 1em 0 0.8em 0;
    
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-form-field-label-wrapper { top: -0.5em; }
// custome normal input
// custome select
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 0.5em 0 0.5em !important;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0%) !important
}
// custome select

#btn_print {
    position: fixed;
    right: 1%;
    bottom: 1%;

    @media print  {
        display: none;
    }
}

@font-face {
    font-family: 'rsuregular';
    src: url('assets/fonts/rsu_regular-webfont.woff2') format('woff2');        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rsuregular-text';
    src: url('assets/fonts/rsu_text_Regular.ttf') format('woff2');        
    font-weight: normal;
    font-style: normal;
}

*:not(.material-icons) {
    font-family: 'rsuregular', sans-serif !important;
    font-size: 16px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: unset;
}


table {
    width: 100%;
}

.width_input {
    width: 47%;
}

.width_button {
    width: 150px;
}

.title {
    cursor: pointer;
}

.title::before {
    content: '<';
    padding-right: 5px;    
}

.container_form {
    margin: 16px;
    cursor: pointer;
    // font-size: ;

    &::before {
        content: "<";
    }
}

.layout_form {
    padding: 8px;
}

.regulat_text {
    font-family: 'rsuregular-text,sans-serif';
}

.rsu_titel_text {
    font-size: 18px !important;
}

.mat_button {
    color: black;
    
}

.mat-raised-button > .mat-button-wrapper {
    color: black;
}


.spacer {
    flex: 1;
}

.paddingInput {
    padding-right: 20px;
}
.tableForm {
    width: 100%;
}
.thForm {
    color: #9E9E9E;
    font-size: 14px;
    padding: 7px;
}

.tdForm {
    font-size: 13px;
    padding: 7px;
}
.flex_col {
    display: flex;
    flex-flow: column;    

    &_center {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

}

.flex_row {
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;

    &_between {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    &_center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &_end {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        
    }
}

.spacer {
    flex: 1 1 auto;
}


.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px !important;
}

.mat-card-header-text {
    width: 100%;
}

.mat-form-field-suffix .material-icons ,.mat-icon-button{
    top: 5px;
    position: relative;
}

.mat-select-arrow-wrapper{
    padding-top: 10px;
}

// .mat-datepicker-toggle-default-icon{
//     margin-left: 1em !important;
// }

hr{
    border: 1px solid rgb(217, 217, 217);;
    border-radius: 1px;
}

mat-form-field {
    width: 100%;
  }


:root {
    // --menu_color: #1f2128
    --menu_color: #70B1C7
}