<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-8">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">ความต้องการประจำปี</mat-radio-button>
                        <mat-radio-button value="2">ความต้องการเร่งด่วน</mat-radio-button>
                      </mat-radio-group>
                </div>
            </div>
            <br>
            <div style="background: #F6FAF7;padding: 10px;">
            <mat-label>ระบุงบประมาณที่ได้รับการจัดสรร</mat-label>
            <div class="row" >
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ปีงบประมาณ   <span style="color: red">*</span></mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'2560'},{test:'2561'},{test:'2562'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>พ.ศ.    <span style="color: red">*</span></mat-label>
                        <mat-select (valueChange)="inputB.value = '10,000,000.00'">
                            <mat-option *ngFor="let data of [{test:'2560'},{test:'2561'},{test:'2562'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>งบประมาณที่ได้รับ</mat-label>
                        <input #inputB matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-8">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อเรื่องขอจัดซื้อ/จัดจ้าง <span style="color: red">*</span></mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ผู้อนุมัติ   </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>ผู้ขออนุมัติ  </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่ขอใช้  <span style="color: red">*</span> </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <app-button-gen></app-button-gen>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่บันทึกขอซื้อ/ขอจ้าง </mat-label>
                        <input matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                            (click)="date1.open()" [matDatepicker]="date1" />
                        <mat-datepicker-toggle matSuffix [for]="date1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่ต้องการใช้ </mat-label>
                        <input matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                            (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
                        <mat-datepicker-toggle matSuffix [for]="transaction_date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #transaction_date></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>สถานะเอกสาร <span style="color: red">*</span></mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="5e7f043e4544d">
                        รายละเอียดคำขอใช้ </label>
                    <div>
                        <editor style="height: 350px;" [init]="{
                                height: 300,
                                plugins: [
                                  'advlist autolink lists link image charmap print',
                                  'preview anchor searchreplace visualblocks code',
                                  'fullscreen insertdatetime media table paste',
                                  'help wordcount'
                                ],
                                toolbar:
                                  'undo redo | formatselect | bold italic | \
                                  alignleft aligncenter alignright alignjustify | \
                                  bullist numlist outdent indent | help'
                                }" apiKey="rhgcaqu555pe38kxwbv770ppru9jek66edhkjvgv6py5lswh" 
                                >
                        </editor>
                    </div>
                </div>
            </div>
            <br>
            <mat-tab-group>
                <mat-tab label="รายการจัดซื้อ/จัดหา"> 
                    <div style="background: #F6FAF7;">
                    <div class="row flex_row_end" style="margin-bottom:5px;">
                        <div class="col-md-8 flex_row_end">
                            <!-- <button mat-raised-button  style="margin-top: 0.25em;background-color: #326CDB;">
                                <span style="color: white;">รายการที่เคยเสนอ</span>
                            </button>&nbsp;&nbsp; -->
                           <app-button-add (click)="openPopUp()"></app-button-add>
                        </div>
                    </div>
<br>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="tableForm" >
                                <thead>
                                    <tr >
                                        <th class="thForm">เครื่องมือ</th>
                                        <th class="thForm">ลำดับ</th>
                                        <th class="thForm">รหัสวัสดุ/บริการ</th>
                                        <th class="thForm">ชื่อวัสดุ/บริการ</th>
                                        <th class="thForm">หน่วยงานขอซื้อ</th>
                                        <th class="thForm">จำนวน</th>
                                        <th class="thForm">หน่วย</th>
                                        <th class="thForm">ราคา/หน่วย</th>
                                        <th class="thForm">จำนวนเงิน</th>
                                        <th class="thForm">จำนวนคงเหลือ</th>
                                        <th class="thForm">จำนวนที่ขอ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container >
                                        <tr  *ngFor="let item of itemArray;let itemsIndex = index">
                                            <td class="tdForm" style="text-align: center;">
                                                <app-icon-edit></app-icon-edit>
                                                <app-icon-del></app-icon-del>
                                            </td>
                                            <td class="tdForm">{{itemsIndex+1}}</td>
                                            <td class="tdForm">001</td>
                                            <td class="tdForm">ชุดทดสอบความไวตอยาระดับปกติของเชื้อ Mycobacterium tuberculosis สําหรับใชกับเครื่องเพาะเชื้อวัณโรคอัตโนมัติ (Antimycobacterium susceptibility testing kit)</td>
                                            <td class="tdForm">กองกลาง</td>
                                            <td class="tdForm">10</td>
                                            <td class="tdForm">ขุด</td>
                                            <td class="tdForm">1,000.00</td>
                                            <td class="tdForm">10,000.00</td>
                                            <td class="tdForm">1</td>
                                            <td class="tdForm">10</td>
                                        </tr>
                                    </ng-container>
                                    <!-- <tr class="odd" *ngIf="form['controls']['item1s']['controls'].length != 0">
                                        <td class="tdForm"></td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm">{{form.value.item1s | total : 'quantity'}}
                                        </td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm"></td>
                                        <td class="tdForm">
                                            {{form.value.item1s | total : 'amount' | number : '1.2-2'}}</td>
                                        <td class="tdForm"></td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="เอกสารแนบ"> 
                    <div style="background: #F6FAF7;">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="tableForm" >
                                <thead>
                                    <tr >
                                        <th class="thForm">ลำดับ</th>
                                        <th class="thForm">เอกสารแนบ</th>
                                        <th class="thForm">รายละเอียด</th>
                                        <th class="thForm" style="text-align: right;"> <app-icon-add></app-icon-add> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container >
                                        <tr  *ngFor="let item of itemArray;let itemsIndex = index">
                                            <td class="tdForm">{{itemsIndex+1}}</td>
                                            <td class="tdForm"></td>
                                            <td class="tdForm"></td>
                                            <td class="tdForm" style="text-align: right;"><app-icon-del></app-icon-del></td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
              <br>
              <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>งบประมาณที่ได้รับ   </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>งบที่ใช้ไป  </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <button mat-raised-button  style="margin-top: 0.25em;background-color: #42B2F1;">
                <span style="color: white;">ส่งแก้ไข</span>
            </button>&nbsp;&nbsp;
            <app-button-save></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>



